<!DOCTYPE html>
<html>
  <head>
    <title>Autor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autor</h1>
    <p>El autor de este quiz es: <b>María Robledo Sánchez</b></p>
    <img src="https://mariginabruno.files.wordpress.com/2012/01/shutterstock_42560425.jpg?w=1200"/>
  </body>
</html>
