<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Autores</h2>
    <p>Alberto Ballesteros Regueiro y Edilberto Miguel Rodríguez Santilla</p>
    <img src="http://cander.neocities.org/Foto%20unica%20buena.png" alt="Alberto">
    <img src="http://edicod.neocities.org/edicod.JPG" alt="Edilberto">	
  </body>
</html>
